<div class="modal" id="bookModal">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-head">
            <h5 class="modal-title" id="bookModalTitle"></h5>
            <button
            type="button"
            class="modal-close"
            data-dismiss="modal"
            aria-label="Close"
            >
            <svg class="book-modal-close" width="24" height="24">
                <use href="./img/sprite.svg#icon-x-close"></use>
            </svg>
            </button>
        </div>
        <div class="modal-text" id="bookModalText">
            <!-- Тут будуть деталі книги -->
        </div>
        <div class="modal-end">
            <button type="button" class="btn btn-primary" id="addToShoppingList">
            Add to shopping list
            </button>
            <p class="modal-ad-text" id="modalADText">Congratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.</p>
        </div>
        <div id="loader" class="loader"></div>
        </div>
    </div>
    </div>