<section class="container-suppor">
    <div class="title-support">
      <h2>Support Ukraine</h2>
      <svg class="icon-tryzub" width="20" height="32">
        <use href="../img/sprite.svg#icon-tryzub"></use>
      </svg>
    </div>
  
    <div class="swiper support-swiper">
      <ul class="swiper-wrapper"></ul>
    </div>
  
    <div class="swiper-navigation">
      <button class="swiper-button-nav next-btn">
        <svg class="support-nav-icon icon-revert" width="22" height="32">
          <use href="../img/sprite.svg#icon-nav-arrow"></use>
        </svg>
      </button>
  
      <button class="swiper-button-nav prev-btn swiper-button-hidden">
        <svg class="support-nav-icon" width="22" height="22">
          <use href="../img/sprite.svg#icon-nav-arrow"></use>
        </svg>
      </button>
    </div>
  </section>