
footer {
    margin-top: 20px;

    border: 1.5px solid black;
    border-radius: 8px 8px 0px 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100%;
  } 

    .dark-theme .footer-container {
      background: #111111;
      border: 1.5px solid #FFF;
      color: #FFF;
  
    }

    .footer-container h3{
    margin-left: 12px;
    color: #4F2EE8;
  }
  
  .footer-p {
    padding: 23px 0;
  }

    .footer-container p{
    font-size: 14px;

    text-align: center;
    letter-spacing: 2px;
  }
  
  @media screen and (min-width: 768px) {

    .footer-container p{
      font-size: 18px;

    }
  
  }
  
  @media screen and (min-width: 1440px) {

    .footer-container p{
      font-size: 20px;

    }
  }
