body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.game-section {
    max-width: 100%;
    max-height: 100%;
    background-image: url('../images/interactiveBg.png');
    background-size: cover;
    background-position: center;
}

.not-found-container {
    text-align: center;
    margin-top: 100px;
    
}

h1 {
    font-size: 120px;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    color: #666;
    margin-bottom: 30px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

.interactive-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
 border: 2px solid #0056b3;
}

.game-btn {
    color: inherit;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.28;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        width: 124px;
        height: 46px;
        justify-content: center;
        align-items: center;
        padding: 14px;
        background-color: transparent;
        border: 2px solid var(--violet);
        border-radius: 40px;
        transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
            color 150ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.game-btn:hover,
.game-btn:active {
    transform: scale(1.05);
    color: var(--white);
    background-color: var(--violet);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.visually-hidden {
    white-space: nowrap;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
}