@import url('./reset.css');
@import url('./header.css');
@import url('./sideBar.css');
@import url('./shopping.css');


:root {
    --primary-font: "DM Sans",
        sans-serif;
    --black: #111;
    --black-one: #202024;
    --violet: #4F2EE8;
    --yellow: #EAC645;
    --white: #fff;
    --background-body-light: #F6F6F6;
    --background-body-dark: #202024;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 32px;
    }
}

.heder-active-shopping {
    background-color: rgba(234, 198, 69, 1);
}
.dark-theme .heder-active-shopping {
    color: var(--black);
}

body {
    background-color: var(--background-body-light);
    color: var(--black);
    font-family: DM Sans;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
}

.section-position {
    padding-top: 40px;
}

@media only screen and (min-width: 1440px) {

    .container-positioned {
        display: flex;
        gap: 40px;
        justify-content: start;
    }
}

.shopping-sidebar-section {
    display: none;
}

@media only screen and (min-width: 1440px) {
    .shopping-sidebar-section {
        display: block;
    }
}