.test-for-view {
border-radius: 16px;
    width: 356px;
    height: 474px;
    box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, rgb(79, 46, 232) 18.02733987569809%, rgb(255, 255, 255) 100%);
}