/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./mob-menu.css');
@import url('./best-sellers-books.css');
@import url('./sideBar.css');
@import url('./modal.css');
@import url('./categories.css');
@import url('./pagination.css');
@import url('./scroll-up.css');
@import url('./footer.css');

.header {
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
}

:root {
  --primary-font: 'DM Sans', sans-serif;
  --black: #111;
  --black-one: #202024;
  --violet: #4f2ee8;
  --yellow: #eac645;
  --white: #fff;
  --grey: #b4afaf;
  --background-body-light: #f6f6f6;
  --background-body-dark: #202024;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ------------- */

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Header Button Active*/

.heder-active {
  background-color: rgba(234, 198, 69, 1);
}

.dark-theme .heder-active {
  color: var(--black);
}

body {
  background-color: var(--background-body-light);
  color: var(--black);
  font-family: DM Sans;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
  position: relative;
}

.section-position {
  padding-top: 120px;
  padding-bottom: 80px;
}

.ctg-sidebar {
  margin-bottom: 40px;
}

.sidebar-home-section {
  padding-bottom: 80px;
}

/* ------------ */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  /* Header  */

  .sidebar-home-section {
    display: flex;
    gap: 32px;
    padding-bottom: 100px;
  }

  .ctg-sidebar {
    margin-bottom: 0px;
  }

  .sidebar-home-section {
    padding-bottom: 100px;
  }

  /* ------------- */
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 24px;
  }

  /* Header */

  .sidebar-home-section {
    display: block;
    margin-bottom: 0px;
  }

  .ctg-sidebar {
    margin-bottom: 86px;
  }

  .container-positioned {
    display: flex;
    gap: 40px;
    justify-content: start;
  }

  .sidebar-home-section {
    padding-bottom: 72px;
  }

  /* -------------- */
}
